{% extends 'base.html' %}
{% block content %}
    <div class="container bg-white">
      <div class="container border" style="width: 700px;">
        <div class="row">
          <div class="col-6 col-md-4">
            <p>Полное имя:</p>
            <p>Номер телефона:</p>
            <p>Компания:</p>
            <p>Адрес:</p>
          </div>

          <div class="col-md-8">
            <form method="POST">{% csrf_token %}
              {{form.full_name}}
              {{form.phone}}
              {{form.company}}
              {{form.address}}
              <button type="submit" class="btn btn-primary" style=" margin-bottom:18px; margin-top:18px;">Сохранить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}